.content__header {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.content__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content__item {
    display: none;
}

.content__item.content__item--active {
    display: block;
}