.header {
    background-color: #f3f8de;
    border-bottom: 12px solid #eee;
    padding: 10px 0;
}

.tabs__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tabs__item:not(:last-child) {
    margin-right: 10px;
}

.tabs__item > a {
    display: block;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 14px 10px;
    border-radius: 4px;
    background-color: rgb(145, 199, 200);
}

.tabs__item > a.active {
    background-color: rgb(200, 145, 193);
}